@import "./variables";

.drum-pad {
    width: 90px;
    height: 90px;
    margin: 6px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: $color-7;
    background-color: $color-3;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 1px $color-5;
    border: none;
}

.drum-pad:active {
    box-shadow: 1px 1px 3px $color-6;
}

.active {
    box-shadow: 1px 1px 3px $color-6;
}