@import "./variables";

#drum-machine {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $color-1;
    align-items: center;
    border: 5px outset $color-4;
    padding: 10px;
}

#drum-pads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4px 0;
}

@media (max-width: 960px) {
    #drum-machine {
        flex-direction: column-reverse;
    }
}
